/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< @media PHONE */

@media screen and (min-width: 320px) and (max-width: 427px) {
  .hero {
    background-color: var(--color-navy-blue-secondary);
    background-image: var(--gradient-bg), url("../images/hero/hero-bg-mob.jpg");
    background-position: center;
    background-size: cover;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--gradient-bg),
        url("../images/hero/hero-bg-mob@2x.jpg");
    }
  }

  .mob-address .section-title {
    /* font-size: 24px; */
    font-size: calc(
      min(36px, 24px + (36 - 24) * ((100vw - 320px) / (428 - 320)))
    );
  }
  .mob-soc-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 328px;
    align-content: center;
    justify-content: space-between;
    gap: unset;
  }
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (max-width: 767px) {
  .hero-title {
    text-transform: capitalize;
  }

  .advantages .section-subtitle {
    text-align: center;
  }

  .team-list {
    flex-direction: column;
  }

  .footer .logo {
    display: block;
    text-align: center;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< @media TABLET */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /** =================================HEADER */

  /* .logo {
    padding: 24px 0;
  } */
  .menu-btn-open {
    display: none;
  }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header {
    border-bottom: 1px solid var(--color-cornflower-borders);
    box-shadow: var(--box-shadow);
  }
  .active {
    position: relative;
    color: var(--color-ocean-pressed);
  }

  .active::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: -32px;
    background: var(--color-ocean-pressed);
    border-radius: 2px;
  }

  .page-nav,
  .address {
    display: flex;
  }
  .menu-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue-secondary);

    transition: color var(--transition-duration-function);
  }
  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration: none;
    color: inherit;
    transition: color var(--transition-duration-function);
  }
  .menu-link:is(:active, :hover, :focus),
  .address-link:is(:active, :hover, :focus) {
    color: var(--color-ocean-pressed);
  }
  .mob-address-link.active,
  .mob-menu-link.active {
    color: var(--color-ocean-pressed);
  }

  .menu-list {
    display: flex;
    gap: 40px;
  }

  /** =================================HERO */

  .hero {
    max-width: 1199px;
    background-color: var(--color-navy-blue-secondary);
    background-image: var(--gradient-bg), url("../images/hero/hero-bg.jpg");
    background-position: center;
    background-size: cover;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--gradient-bg), url("../images/hero/hero-bg@2x.jpg");
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px;
  }

  .advantages-list {
    justify-content: center;
    gap: 72px 24px;
  }
  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    justify-content: center;
    gap: 64px 24px;
  }
  .team-item {
    width: calc((100% - 24px) / 2);
  }
  .customers-list {
    gap: 72px 24px;
  }
  .customers-item {
    width: 168px;
    height: 88px;
  }

  .footer-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    text-align: left;
    align-items: start;
    padding: 0 108px;
  }

  .subscribe-input {
    width: 264px;
  }
  .footer-subscribe-box {
    display: flex;
    gap: 24px;
  }
  .modal-btn-subscribe {
    margin-left: 0;
  }
}

@media screen and (max-width: 1199px) {
  .advantages-bg {
    display: none;
  }

  .products {
    display: none;
  }

  .advantages .section-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }

  .advantages .body-text-style {
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding: 16px 0;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
/** <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< @media DESKTOP */

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .logo {
    margin-right: 76px;
  }

  header .container {
    /* justify-items: center; */
    /* justify-content: flex-start; */
  }

  /* .contact-list {
    flex-direction: row;
  } */

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }
  .hero-title {
    margin: 0 auto 48px;
  }

  .advantages-list {
    gap: 24px;
  }
  .advantages-item {
    width: calc((100% - 72px) / 4);
  }

  .products {
    padding-top: 0;
  }
  .products-list {
    display: flex;
    gap: 24px;
  }
  .products-item {
    width: calc((100% - 48px) / 3);
    border: 1px solid var(--color-cornflower-borders);
  }

  .team-list {
    gap: 24px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-soc-box {
    margin-left: 120px;
    margin-right: 80px;
  }

  .footer-wrap {
    flex-wrap: nowrap;
    gap: unset;
  }
}
